.twitter-heading{
    font-size: 3em;
    color: #666;
    font-weight: bold;
}
.userNameTextField{
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1.2em;
    border: none;
    color: #666;
    box-shadow: 0px 3px 10px 0px rgba(149, 43, 254, 0.2);
    margin: 1em 0;
    box-sizing: border-box;
    width: 100%;
    transition: 0.2s;
}
.userNameTextField:focus{
    outline: none;
    box-shadow: 0px 3px 10px 0px rgba(149, 43, 254, 0.5);
}
.userNameTextField::placeholder{
    color: #bbb;
}
.GetUserNameBtn{
    margin: 1em 0;
    padding: 0.3em 2em;
    box-shadow: 0px 3px 10px 0px rgba(148, 43, 254, 0.5);
    letter-spacing: 0.04em;
    border: none;
    width: max-content;
    background: rgb(146,37,255);
    border-radius: 10px;
    color: #fff;
    cursor: default;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.2s ease;
}
.GetUserNameBtn:focus{
    outline: none;
}
.GetUserNameBtn:hover{
    opacity: 0.8;
    box-shadow: 0 0 10px 5px rgba(148, 43, 254, 0.2);
}
.GetUserNameBtn:active{
    opacity: 0.9;
    box-shadow: 0 0 8px 1px rgba(148, 43, 254, 0.5);
    transform: scale(0.99);
}

.user-container{
    background: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,0.05),rgba(0,0,0,0));
    margin: 1em 0;
    padding-bottom: 3em;
}
.profile-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.profile-grid > div img{
    height: 200px;
    width: 200px;
    padding: 0.3em;
    box-shadow: 0 0 10px 0 #ccc;
    border-radius: 10px;
}
.profile-grid > div h3{
    display: inline-block;
}
.user_data_context{
    margin: 1em 0;
}
.viewProfileBtn{
    padding: 0.2em 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(149, 43, 254, 0.5);
    background-color: #fff;
    text-decoration: none;
    color: blueviolet;
}

.twitter-table-container{
    overflow-x: scroll;
    box-shadow: 0 0 20px 5px rgba(149, 43, 254, 0.2);
    border-radius: 20px;
}
.twitter-table-container::-webkit-scrollbar{
    width: 0px;
}
table{
    width: 100%;
    padding: 1em 1em 0 1em;
    border-radius: 10px;
    --tableBorder: 20px;
}
thead{
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgb(220, 185, 255);
    border-radius: var(--tableBorder);
    box-shadow: 0 0 10px 0 rgb(230, 220, 255);
}
thead td:first-child{
    border-radius: var(--tableBorder) 0 0 var(--tableBorder) !important;
}
thead td:last-child{
    border-radius: 0 var(--tableBorder) var(--tableBorder) 0 !important;
}
thead td{
    color: #fff;
    text-shadow: 0 0 2px #000;
}
tr{
    color: #333;
    border-spacing: 1em;
    padding: 1em 0;
    font-size: 1.1em;
    background-color: rgba(148, 43, 254, 0.2);
}
tr:first-child td:first-child{
    border-radius: var(--tableBorder) 0 0 0;
}
tr:first-child td:last-child{
    border-radius: 0 var(--tableBorder) 0 0;
}
tr:last-child td:first-child{
    border-radius: 0 0 0 var(--tableBorder);
}
tr:last-child td:last-child{
    border-radius: 0 0 var(--tableBorder) 0;
}
td{
    margin: 0;
    padding: 0.2em 1em;
    letter-spacing: 0.05em;
}
.borderColor{
    border: 0.3em solid rgb(255, 120, 120);
    border-left: none;
    border-right: none;
}
.borderColor-left{
    border-left: 0.3em solid rgb(255, 120, 120);
}
.borderColor-right{
    border-right: 0.3em solid rgb(255, 120, 120);
    text-align: center;
    color: rgb(255, 70, 70);
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .profile-grid{
        grid-template-columns: 1fr;
    }
}